<mat-accordion class="repo-headers-align">
  <mat-expansion-panel *ngFor="let repo of repos" [expanded]="repo.expanded" hideToggle (click)="repo.expanded = !repo.expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>{{repo.name}}</mat-panel-title>
      <mat-panel-description>
        <mat-icon *ngIf="repo.fork">share</mat-icon>
        <i [ngClass]="getLangIconClass(repo.language)"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <article>
      <p>
        {{repo.description}}
      </p>
      <span>
        <mat-icon color="accent">share</mat-icon>{{repo.forks_count}} forks
      </span>
      <span>
        <mat-icon color="accent">cloud_upload</mat-icon>criado em {{formatDate(repo.created_at)}}
      </span>
    </article >
  </mat-expansion-panel>

</mat-accordion>